.calculator-content {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.group-buttons {
  width: 100%;
  align-items: end;
  margin: auto;
}
#calc-result-area {
  display: none;
}
@media(max-width: 450px) {
  .group-buttons {
      max-width: 100%;
  }
}
