.calculator-content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.calculator-content .line-group {
  width: 100%;
}

.group-buttons {
  align-items: end;
}

.group-itens:not(:first-child) {
  margin: 32px 0 16px;
}

#btn-add-colaborador {
  color: #000000;
  font-weight: 300;
}

.calculator-table-area {
  display: none;
}

@media(max-width: 450px) {
  .calculator-table-values .table-mobile thead tr th,
  .calculator-table-values .table-mobile tbody tr td {
      font-weight: 500;
  }
  .calculator-table-values .table-mobile td[data-type="group-label"] {
      background-color: #6F3475;
      color: #fff;
  }
}


/* INSS */

.table-disclaimer {
  display: block;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
  margin: 16px 0 24px;
}

.input-salario-bruto:not(:last-child) {
  margin-bottom: 16px;
}


.calculator-table-values:not(:last-child) {
  margin-bottom: 48px;
}

.calculator-table-values .title {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 16px;
}
.calculator-table-values table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 4px;
  border: 1px solid #5B5B5B;
}
.calculator-table-values table th,
.calculator-table-values table td {
  padding: 8px;
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  vertical-align: middle;
}

.calculator-table-values table th:not(:last-child),
.calculator-table-values table td:not(:last-child) {
  border-right: 1px solid #5B5B5B;
}
.calculator-table-values table>thead>tr:not(:last-child)>th,
.calculator-table-values table>thead>tr:not(:last-child)>td,
.calculator-table-values table>tbody>tr:not(:last-child)>th,
.calculator-table-values table>tbody>tr:not(:last-child)>td,
.calculator-table-values table>tfoot>tr:not(:last-child)>th,
.calculator-table-values table>tfoot>tr:not(:last-child)>td,
.calculator-table-values table>tr:not(:last-child)>td,
.calculator-table-values table>tr:not(:last-child)>th,
.calculator-table-values table>thead:not(:last-child),
.calculator-table-values table>tbody:not(:last-child),
.calculator-table-values table>tfoot:not(:last-child) {
border-bottom: 1px solid #5B5B5B;
}

.calculator-table-values table tr th {
  text-align: left;
  background-color: #E0DFE0;
  color: #000;
  font-weight: bold;
}
.calculator-table-values table tr td {
  color: #252525;
}

.calculator-table-values table tr[row-label="total"] td {
  color: #86027A;
  font-weight: 500;
}

/* Tabelas */
#calc-result-area-irrf hr {
  margin: 40px 0;
}

#calc-result-area-irrf > p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.calculator-table-values table tr td.td-mobile-title {
  background-color: #6F3475;
  color: #fff;
  font-weight: 500;
}

/* Valor descontado */
.valor-descontado h2 {
  margin-bottom: 16px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  color: #470C4D;
}

#tabela-desconto tbody tr td {
  padding: 24px 12px;
  color: #5500FF;
  font-weight: 500;
  border-top: unset;
}

#tabela-desconto #valor-do-desconto {
  background-color: #404040;
  color: #fff;
  text-align: center;
  font-weight: 600;
}

/* Tabela entrada */
#calculo-irrf-entrada {
  margin-top: 16px;
}

#calculo-irrf-entrada td:first-child {
  font-weight: bold;
}

#calculo-irrf-entrada th:last-child {
  text-align: end;
}

#calculo-irrf-entrada td:last-child {
  text-align: end;
}

/* Tabela deducoes */
#calculo-irrf-deducoes th:last-child {
  text-align: end;
}

#calculo-irrf-deducoes td {
  text-align: end;
}

#calculo-irrf-deducoes td:first-child {
  text-align: start;
}

/* Base calculo deduções */

#calculo-irrf-base td {
  font-weight: bold;
}

#calculo-irrf-base td:first-child {
  font-weight: bold;
  color: #000;
  background-color: #E0DFE0;
}
#calculo-irrf-base td {
  border-top: unset;
}

#calculo-irrf-base td:last-child {
  text-align: end;
}

/* Faixas */
#calculo-irrf-faixas td {
  text-align: center;
}

#calculo-irrf-faixas th {
  text-align: center;
}

#calculo-irrf-faixas th:first-child {
  text-align: start;
}

#calculo-irrf-faixas td:first-child {
  text-align: start;
}

#calculo-irrf-faixas .result td {
  background-color: #EEEEEE;
  color: #5500FF;
  font-weight: 500;
}

#calculo-irrf-faixas .result td:last-child {
  text-align: end;
  font-weight: 600;
}


/* Progressiva */
.progressiva-title h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #470C4D;
  margin: 56px 0 24px;
}
