.calculator-content {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  -webkit-font-smoothing: antialiased;
}
.group-buttons {
  align-items: end;
}
#calc-result-area {
  display: none;
}

#clearInputsBtn{
grid-column: 2;
}

@media screen and (max-width: 450px){
#clearInputsBtn{
  grid-column: auto;
}
}

@media screen and (max-width: 1099px) and (min-width: 900px){
.mvp-post-main-in, .mvp-main-blog-in, #mvp-home-widget-wrap .mvp-flex-side-in {
    margin-right: 40px;
}
}

