.eps .container {
  max-width: 628px;
  margin: 40px auto 0;
  border-top: 1px solid var(--IN---Site---Cinza-Escuro, #777);
}

.content-top h2 {
  padding: 16px 0 0 0;
  color: var(--black);
  font-family: "Crimson Pro";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  padding-bottom: 16px;
}

.content-body .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 27px;
}

.content-body .item-ep {
  display: flex;
  gap: 16px;
}

.content-body .item-ep a {
  width: 100%;
  height: 86px;
  max-width: 86px;
}

.content-body .item-ep a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-body .item-ep span {
  color: var(--IN---Site---Cinza-Escuro, #777);
  font-family: "Trebuchet MS";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
  text-transform: uppercase;
  padding-bottom: 8px;
  display: block;
}

.content-body .item-ep h3 {
  color: var(--black);

  /* Global styles/H5 */
  font-family: "Crimson Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
  letter-spacing: -0.2px;
}

.item-ep.active {
  border-radius: 4px;
  background: var(--IN---Site---Indigo, #50f);
  padding: 8px;
}

.item-ep.active span,
.item-ep.active h3 {
  color: #fff;
}

.content-body .item-ep a {
  text-decoration: none;
}

@media (max-width: 767px) {
  .content-body .grid {
    grid-template-columns: 1fr;
  }
  .content-body .item-ep {
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 16px;
  }
}
